In [3]:
#set--- to avoid duplicates, unordered
s1={1,2,3}

In [5]:
print(s1)

{1, 2, 3}

In [6]:
s2={1,2,2,3}
print(s2)

{1, 2, 3}

In [8]:
print(s2[2:3])

TypeError: 'set' object is not subscriptable

In [9]:
#indexing is not possible as it is unorder

In [12]:
s2.add(24) #in set we use add not append

In [11]:
print(s2)

{24, 1, 2, 3}

In [16]:
s2.remove(3)
print(s2)

{1, 2}

In [20]:
s2.remove(5)   #remove shows error if the element we wnat to remove an eliment which is not present
print(s2)

KeyError: 5

In [21]:
s2.discard(5)   #it doesnot show any error

In [19]:
print(s2)

{1, 2}

In [23]:
s2.pop()
print(s2)

set()

In [26]:
s3={1,2,3,4,5}
s3.pop()

1

In [45]:
s3.pop()  #randomly picks Pop removes any random element from the set and returns the removed element.

3

In [28]:
#dictionariess
dict1={'name':'john','age':25}

In [29]:
print(dict1['age'])

25

In [34]:
dict1['name']='christiano'#can be modified

In [33]:
print(dict1['name'])

christiano

In [36]:
#relatinal(Comaparision) operators
a=1
b=1
print(a==b)

True

In [37]:
l1=[1,2,3,4]
l2=[1,3,4,5]
print(l1==l2)

False

In [38]:
l1=[1,2,3,4]  #compares element
l2=[1,2,3,4]
print(l1==l2)

True

In [41]:
l1=[1,2,3,4]   #compares memory location
l2=[1,2,3,4]
print(l1 is l2)

False

In [42]:
l1=[1,2,3,4]   #compares memory location
l2=[1,2,3,4]
print(l1 is not l2)

True

In [43]:
l3=[1,2,3,4,5] #checks whether the element is present or not
print(4 in l3)

True

In [44]:
l3=[1,2,3,4,5]
print(14 in l3)

False

In [49]:
var1=int(input("enter a number:")) #conditional loops
if var1>0:
  print("positive")
elif var1<0:
  print("negative")
else:
  print("zero")

enter a number:-2
negative

In [55]:
var1=int(input("enter a number:"))
if var1>40:
  print("greater than 40")
elif var1<0:
  print("negative")

else:
  print("zero")

enter a number:42
greater than 40

In [63]:
var2=int(input("enter a number: "))
if var2>0:
  print("positve")
  if var2%2==0:
    print("even")
    if var2%5==0:
       print("multiple of 5")
  else:
    print("odd")
else:
   print("negatve")

enter a number: 22
positve
even

In [66]:
#rockpaperscissor
import random
user_input=input("choose one of rock,paper,scissor")
options=['rock','paper','scissor']
system_input=random.choice(options)
if user_input==system_input:
  print("its a draw")
else:
  if user_input=='rock':
    if system_input=='scissor':
      print("you won")
    else:
      print("you loss")
  if user_input=='paper':
    if system_input=='rock':
      print("you won")
    else:
      print("you loss")
  if user_input=='scissor':
    if system_input=='paper':
      print("you won")
    else:
      print("you loss")

print(user_input)
print(system_input)

choose one of rock,paper,scissorrock
you loss
rock
paper

In [69]:
#loops (start,end)
for i in range(1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [70]:
#table
var2=int(input("enter a number"))
for i in range(1,11):
  print(var2,"*",i,"=",var2*i)

enter a number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [72]:
#table
var2=int(input("enter a number"))
for i in range(1,11):
  print(var2,"*",i,"=",var2*i,",",end=' ')

enter a number2
2 * 1 = 2 , 2 * 2 = 4 , 2 * 3 = 6 , 2 * 4 = 8 , 2 * 5 = 10 , 2 * 6 = 12 , 2 * 7 = 14 , 2 * 8 = 16 , 2 * 9 = 18 , 2 * 10 = 20 ,

In [73]:
list1=[1,2,3,4]
for i in list1:
  print(i)

1
2
3
4

In [75]:
#travsersing
dict1={"SRH":99,"RCB":16.4,"MI":55}
for i in dict1:
  print(i)

SRH
RCB
MI

In [79]:
#traversing
dict1={"SRH":99,"RCB":16.4,"MI":55}
for key,value in dict1.items():
  if value>=60:
    print(key,"is qualified")
  else:
    print(key,"is not qualified")

SRH is qualified
RCB is not qualified
MI is not qualified

In [80]:
#while loop not mostly used
i=1
while i<5:
  print(i)
  i=i+1

1
2
3
4

In [81]:
for i in range(0,6):
  for j in range(0,i):
    print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3
5 0
5 1
5 2
5 3
5 4

In [85]:
for i in range(0,5):
  for j in range(0,i+1):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [86]:
var2=int(input("enter num: "))
for i in range(0,var2):
  for j in range(0,i+1):
    print("*",end=' ')
  print()

enter num: 5
*
* *
* * *
* * * *
* * * * *

In [94]:
#guess the num
ran_num=random.randint(1,10)
while "True":
  user_entry=int(input("enter a number: "))
  if user_entry == ran_num:
    print("correct",cnt,"attempts")
    break
  elif user_entry <ran_num:
    print("greater")
  else:
    print("lesser")
print("game over")

enter a number: 5
lesser
enter a number: 3
correct 0 attempts
game over

In [104]:
# user defined function
list1=[1,2,3,4,2,3,3]
def count():
  cnt=0
  for i in list1:
    if i==2:
      cnt=cnt+1
  return cnt
print(count())
list1.append(2)
list1.append(2)
print(count())

2
4

In [105]:
#predefined
randlist=[1,2,3,4,5]
print(max(randlist))

5